.section-two {
    min-height: 472px;
    padding: 69px 0 95px 0;
    background-color: #f6f6f6;
    &__header {
        color: #0d0d0d;
        font-family: "Museo Sans";
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__advantages {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 65px;
    }

    &__advantage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 300px;

        color: #0d0d0d;
        font-family: "Museo Sans";
        font-size: 14px;
        font-weight: 300;
        text-align: center;

        span {
            margin-top: 38px;
            margin-bottom: 26px;
            font-size: 18px;
            font-weight: 700;
        }

        span.love {
            font-family: "Museo Sans";
            font-size: 14px;
            font-weight: 300;
            color: #ff0000;
            text-decoration: underline;

        }

        .heartbeat {
            // animation: heartbeat 2s infinite ease paused;
            animation-name: heartbeat;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            &:hover {
                animation-play-state: paused;
            }
        }
    }


}
