.section-five {
    margin-bottom: 103px;
    &__header {
        color: #0d0d0d;
        font-family: "Museo Sans";
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 69px;
    }
}
